<form method="get" action="{% url 'set_currency' %}">
    
    <select name="currency" id="currencySelect">
        <option value="old_syp">ليرة قديمة</option>
        <option value="new_syp">ليرة جديدة</option>
        <option value="usd">دولار</option>
    </select>

    <input type="number"
           step="0.01"
           name="exchange_rate"
           id="exchangeRate"
           placeholder="سعر الصرف"
           style="display:none;">

    <button type="submit">تطبيق</button>
</form>

<script>
    const currencySelect = document.getElementById("currencySelect");
    const exchangeInput = document.getElementById("exchangeRate");

    currencySelect.addEventListener("change", function() {
        if (this.value === "usd") {
            exchangeInput.style.display = "inline-block";
        } else {
            exchangeInput.style.display = "none";
            exchangeInput.value = "";
        }
    });
</script>