<form method="get" action="{% url 'set_currency' %}">
    <select name="currency" onchange="this.form.submit()"
            class="form-select form-select-sm" style="width:180px;">

        <option value="old_syp"
            {% if current_currency == 'old_syp' %}selected{% endif %}>
            🇸🇾 ل.س قديمة
        </option>
        <option value="new_syp"
            {% if current_currency == 'new_syp' %}selected{% endif %}>
            🆕 ل.س جديدة 
        </option>

        <option value="usd"
            {% if current_currency == 'usd' %}selected{% endif %}>
            💵 دولار
        </option>

    </select>
</form>