{% extends 'dashboard/base.html' %}

{% block content %}

<h4 class="mb-4">🧾 إنشاء فاتورة</h4>

<form method="post">
    {% csrf_token %}

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            بيانات الفاتورة
        </div>
  <div class="card-body row">
         <div class="col-md-3 mb-3">
        {{ invoice_form.invoice_number.label_tag }}
        {{ invoice_form.invoice_number }}

        {% if invoice_form.invoice_number.errors %}
            <div class="text-danger mt-1">
                {{ invoice_form.invoice_number.errors }}
            </div>
        {% endif %}
    </div>

        <div class="col-md-3 mb-3">
        {{ invoice_form.invoice_type.label_tag }}
        {{ invoice_form.invoice_type }}
    </div>

    <!-- اسم العميل -->
    <div class="col-md-3 mb-3">
        {{ invoice_form.customer_name.label_tag }}
        {{ invoice_form.customer_name }}
    </div>

    <!-- تاريخ الفاتورة -->
    <div class="col-md-3 mb-3">
        {{ invoice_form.invoice_date.label_tag }}
        {{ invoice_form.invoice_date }}

        {% if invoice_form.invoice_date.errors %}
            <div class="text-danger mt-1">
                {{ invoice_form.invoice_date.errors }}
            </div>
        {% endif %}
    </div>

</div>

    <div class="card">
        <div class="card-header bg-dark text-white">
            بنود الفاتورة
        </div>
        <div class="card-body">

            {{ formset.management_form }}

            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>الوصف</th>
                        <th>الكمية</th>
                        <th>سعر الوحدة</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        <td>{{ form.description }}</td>
                        <td>{{ form.quantity }}</td>
                        <td>{{ form.unit_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="mt-3 text-end">
        <button type="submit" class="btn btn-success">
            💾 حفظ الفاتورة
        </button>
    </div>

</form>

{% endblock %}
