{% extends 'dashboard/base.html' %}

{% block content %}

<a href="{% url 'accountant_invoices' %}" class="btn btn-dark mb-3">
📄 مراجعة الفواتير
</a>

<h3 class="mb-4">لوحة المحاسب</h3>
<hr>

<h3 class="mb-4">إدخال قيد في دفتر القيود</h3> 
<hr>
<div class='card mb_4'>
    <div class="card-header bg-success text-white">
        بيانات القيد المحاسبي
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            <div class="row mb-3">
                <div class="col-md-3">
                    <label>التاريخ</label>
                    {{ form.date }}
                </div>

                <div class="col-md-4">
                    <label>اسم الحساب</label>
                    {{ form.account_name }}
                </div>
                <div class="col-md-4">
                    <label>الوصف</label>
                    {{form.description}}
                </div>
                <div class="col-mb-4">
                      <label>المبلغ</label>
                       {{ form.amount }}
                </div>
                    
            </div>

    <div class="md-2">
        <label>نوع القيد</label>
         {{ form.entry_side }}
    </div>
        

    <button class="btn btn-primary mt-3">💾 حفظ القيد</button>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header bg-dark text-white">
        جميع القيود
    </div>

    <div class="card-body">
        <table class="table table-bordered text-center">
            <thead class="table-secondary">
                <tr>
                    <th>التاريخ</th>
                    <th>الحساب</th>
                    <th>مدين</th>
                    <th>دائن</th>
                    <th>أدخل بواسطة</th>
                    <th>الحالة</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.account_name }}</td>
                    <td>{{ entry.debit }}</td>
                    <td>{{ entry.credit }}</td>
                    <td>{{ entry.created_by.username }}</td>
                    <td>
                        {% if entry.status == 'approved' %}
                            ✅ معتمد
                        {% else %}
                            🕒 مسودة
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">لا توجد قيود</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
