{% extends 'dashboard/base.html' %}

{% block content %}
<a href="{% url 'create_invoice' %}" class="btn btn-primary mb-3">
➕ إدخال فاتورة
</a>


<h3 class="mb-4">إدخال قيد في دفتر القيود</h3>
<hr>

<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        بيانات القيد المحاسبي
    </div>

    
        <form method="post">
            {% csrf_token %}

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>التاريخ</label>
                    {{ form.date }}
                </div>

                <div class="col-md-8">
                    <label>الوصف</label>
                    {{form.description}}
                </div>
            </div>

            {{formset.management_form}}
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>الحساب</th>
                <th>مدين</th>
                <th>دائن</th>
                <th>حذف</th>
            </tr>
        </thead>
        <tbody>
            {% for line in formset %}
           <tr>
    <td>{{ line.account }}</td>
    <td>{{ line.debit }}</td>
    <td>{{ line.credit }}</td>
    <td> {{ line.DELETE }} </td>
</tr>
          {%endfor%}
        </tbody>
    </table>

    <button class="btn btn-success mt-3">💾 حفظ القيد</button>
</form>
    
    </div>
</div>

<div class="card">
    <div class="card-header bg-dark text-white">
        القيود التي قمت بإدخالها
    </div>

    <div class="card-body">
    <table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>التاريخ</th>
            <th>الحساب</th>
            <th>مدين</th>
            <th>دائن</th>
            <th>الحالة</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
            {% for line in entry.lines.all %}
            <tr>
                <td>{{ entry.date }}</td>
                <td>{{ line.account}}</td>
                <td>{{ line.debit }}</td>
                <td>{{ line.credit }}</td>
               
                <td>
                    {% if entry.status == 'draft' %}
                        مسودة ⏳
                    {% else %}
                        معتمد ✅
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% empty %}
        <tr>
            <td colspan="6">لا توجد قيود</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </div>
</div>

{% endblock %}
