{% extends 'dashboard/base.html' %}
{% load currency_filters %}

{% block currency_selector %}
<form method="get" action="{% url 'set_currency' %}" class="ms-3 d-flex align-items-center gap-2">

    <select name="currency"
            onchange="this.form.submit()"
            class="form-select form-select-sm"
            style="width:150px;">

        <option value="old_syp"
            {% if request.session.currency == 'old_syp' or not request.session.currency %}selected{% endif %}>
            ل.س قديمة
        </option>

        <option value="new_syp"
            {% if request.session.currency == 'new_syp' %}selected{% endif %}>
            ل.س جديدة
        </option>

        <option value="usd"
            {% if request.session.currency == 'usd' %}selected{% endif %}>
            دولار
        </option>

    </select>

    {% if request.session.currency == 'usd' %}
        <input type="number"
               step="0.0001"
               name="exchange_rate"
               class="form-control form-control-sm"
               style="width:120px;"
               placeholder="سعر الصرف"
               value="{{ request.session.exchange_rate }}"
               required>
    {% endif %}

</form>
{% endblock %}

{% block content %}

<h3 class="mb-4">لوحة تحكم المدير المالي</h3>
<hr>

<div class="row mb-4">
    <a href="{% url 'profit_report' %}" class="btn btn-info">
📊 تقارير الأرباح
</a>

    <div class="col-md-4">
        <div class="card bg-success text-white text-center">
            <div class="card-body">
                <h6>إجمالي الإيرادات</h6>
               <p class="fs-4">{{ income|currency_display:request }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-danger text-white text-center">
            <div class="card-body">
                <h6>إجمالي المصروفات</h6>
               <p class="fs-4">{{ expense|currency_display:request }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-primary text-white text-center">
            <div class="card-body">
                <h6>صافي الربح</h6>
               <p class="fs-4">{{ profit|currency_display:request }}</p>
            </div>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-header bg-dark text-white">
        أدوات المدير المالي
    </div>
    <div class="card-body">
        <a href="{% url 'accountant_invoices' %}" class="btn btn-primary me-2">📄 عرض الفواتير</a>
        <a href="#" class="btn btn-secondary">📊 التقارير</a>
    </div>
</div>

{% endblock %}